<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="mataheader :: headfragment">
<link 
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css">
</head>
<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">
		<div th:replace="matatopmenu :: topmenufragment"></div>
		<div th:replace="mataleftmenu :: leftmenu"></div>

		<!-- Page Wrapper -->
		<div class="page-wrapper">

			<!-- Page Content -->
			<div class="content container-fluid">

				<!-- Page Header -->
				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<h3 class="page-heaer">
								<i class="la la-user"> <b><span th:text="${title}"></span></b></i>
							</h3>
							<br>
							<ul class="breadcrumb">
								<li class="breadcrumb-item">Employee</li>
								<li class="breadcrumb-item active"><span th:text="${title}"></span></li>
							</ul>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="col-md-8">
						<div class="card">
							<div class="card-body">
								<form th:action="@{/employee/add}" enctype="multipart/form-data" th:object="${employee}" method="POST">
									<input type="hidden" th:field="*{id}" placeholder="Area Id" class="form-control mb-4 col-4">
									<input type="hidden" th:value="${title}" name="title" class="form-control mb-4 col-4">
									<div class="form-group" style="display:none">
										<label><b>Organization:</b></label> <select name="worker"
											th:field="*{organization}" class="form-control">
											<option th:each="organization : ${listOrganization}"
												th:value="${organization.id}" th:text="${organization.name}">
										</select>
									</div>
								<table border="0" cellpadding="10">
									<tr>
									<td><h3><b>Profile:</b></h3></td>
								   </tr>
						   <tr>
								<td>Employee Id<font color="red">*</font></td>
								<td><p th:if="${#fields.hasErrors('empId')}" th:errors="*{empId}" class="alert alert-danger"></p> 
							   		<input type="text" th:field="*{empId}"
										placeholder="Enter Employee Id" maxlength="50"
										class="form-control">
								</td>
								<td>Name<font color="red">*</font></td>
									<td> <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger"></p> 
									<input type="text" th:field="*{name}" placeholder="Enter Employee Name" maxlength="50"
										class="form-control"></td>
									<td>
							</tr>
							  <tr>
								<td>Device Employee Id<font color="red">*</font></td>
								<td><p th:if="${#fields.hasErrors('deviceEmpId')}" th:errors="*{deviceEmpId}" class="alert alert-danger"></p> 
							   		<input type="text" th:field="*{deviceEmpId}"
										placeholder="Enter Device Emp Id" maxlength="50"
										class="form-control">
								</td>
								<td>Company</td>
									<td>  
									<input type="text" th:field="*{company}" placeholder="Enter Company" maxlength="50"
										class="form-control"></td>
									<td>
							</tr>
							  <tr>
								<td>City</td>
								<td> 
							   		<input type="text" th:field="*{city}"
										placeholder="Enter City" maxlength="50"
										class="form-control">
								</td>
								<td>Branch</td>
									<td>
									<input type="text" th:field="*{branch}" placeholder="Enter Branch" maxlength="50"
										class="form-control"></td>
									<td>
							</tr>
							 <tr>
								<td>Department</td>
								<td> 
							   		<select name="worker"
											th:field="*{department}" class="form-control">
											<option value="">Select Department</option>
											<option th:each="department : ${listDepartment}"
												th:value="${department.id}" th:text="${department.name}">
										</select>
								</td>
								<td>Designation</td>
									<td>
									<select th:field="*{designation}" class="form-control">
											<option value="">Select Designation</option>
											<option th:each="designation : ${listDesignation}"
												th:value="${designation.id}" th:text="${designation.name}">
										</select>
									<td>
							</tr>
							 <tr>
								<td>Grade</td>
								<td> 
							   		<input type="text" th:field="*{grade}"
										placeholder="Enter Grade" maxlength="50"
										class="form-control">
								</td>
								<td>Card No</td>
									<td>
									<input type="text" th:field="*{cardNo}" placeholder="Enter Card No" maxlength="50"
										class="form-control"></td>
									<td>
							</tr>
							 <tr>
								<td>Join Date</td>
								<td> 
							   		<input type="date" th:field="*{joinDate}"
										placeholder="Enter Join Date" maxlength="50"
										class="form-control">
								</td>
								<td>Email Official</td>
									<td>
									<input type="email" th:field="*{emailOfficial}" placeholder="Enter Official Mail Id" maxlength="50"
										class="form-control"></td>
									<td>
							</tr>
							<tr>
								<td><h3><b>Personal&nbsp;Details:</b></h3></td>
						   </tr>
						    <tr>
								<td>Father Name</td>
								<td> 
							   		<input type="text" th:field="*{father}"
										placeholder="Enter Father Name" maxlength="50"
										class="form-control">
								</td>
								<td>Mother Name</td>
									<td>
									<input type="text" th:field="*{mother}" placeholder="Enter Mother Name" maxlength="50"
										class="form-control"></td>
									<td>
							</tr>
							 <tr>
								<td>Gender</td>
								<td> 
							   		<select th:field="*{gender}" class="form-control">
											<option value="">Select Gender</option>
											<option value="M">Male</option>
											<option value="F">Female</option>
											<option value="O">Other</option>
										</select>
								</td>
								<td>Blood Group</td>
									<td>
									<input type="text" th:field="*{bloodGroup}" placeholder="Enter Blood Group" maxlength="5"
										class="form-control"></td>
									<td>
							</tr>
							 <tr>
								<td>DOB</td>
								<td> 
							   		<input type="date" th:field="*{dob}"
										placeholder="Enter Date Of Birth" maxlength="50"
										class="form-control">
								</td>
								<td>Email Personal</td>
									<td>
									<input type="email" th:field="*{emailPersonal}" placeholder="Enter Personal Mail Id" maxlength="50"
										class="form-control"></td>
									<td>
							</tr>
							<tr>
								<td>Permanent Address</td>
								<td>
									<textarea th:field="*{permanentAddress}"
										placeholder="Enter Permanent Address"
										class="form-control" rows="5" cols="8" maxlength="200"></textarea></td>
								<td>Residential Address</td>
								<td>
									<textarea th:field="*{residentialAddress}"
										placeholder="Enter Residential Address"
										class="form-control" rows="5" cols="8" maxlength="200"></textarea></td>
							</tr>
							 <tr>
								<td>Mobile No</td>
								<td> 
							   		<input type="number" th:field="*{mobile}" 
										placeholder="Enter 10 digit Mobile No"  class="form-control" pattern="/^-?\d+\.?\d*$/" onkeypress="if(this.value.length==10) return false;">
								</td>
								<td>Upload Employee Image</td>
									<td>
									<input type="file" name="files" id="file" placeholder="choose file"
											class="form-control"onchange="validateSize(this); fileValidation()" accept=".jpg" ></td>
									<td>
							</tr>
								</table><br><br>	
									<div class="text-right">
										<button type="submit" class="btn btn-primary">Submit</button>
									    <a class="btn btn-danger" th:href="@{/employee}">Cancel</a>
									</div>
								</form><br><br>
								<div class="form-group">
						            <label><b>Note:<font color="red">*</font></b></label>
						              <ul style="list-style-type:disc;">
										  <li><font color="red">Image Name should be like this 
										  e.g "12345.jpg", where 12345 is the Employee Id.</font></li>
										  <li><font color="red">Image size should be more than 10KB and less than 700KB</font></li>
										  <li><font color="red">Image extension should be (.jpg) format.</font></li>
										  <li><font color="red">Make sure that uploaded image is a face image.</font> </li>
						             </ul> 
						            </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="matafooter :: footer"></div>
	<script src="/assets/js/app.js"></script> 
	<script>
	
		$(document).ready(function(){
		        	$("#branch").change(function() {
		                sendAjaxRequest();
		            });
		        	
		        	
	        	
    	function sendAjaxRequest() {
    	    var branch = $("#branch").val();
    	    $.get( "/areabybranchid?branchId=" + branch, function( data ) {
//     	    	console.log(data);
    	    	var option='';//'<input type="checkbox" name="selectall" id="select_all_checkox" value="Select All" onclick="selectAll()" />Select All</br>';
    	        $("#area").empty();
    	        data.forEach(function(item, i) {
    	        	var areaItem = item.name;
    	            option +='<input type="checkbox"  id="area" name="area" value ="'+item.id+'" />'+areaItem+'</br>';
    	        });
    	        $("#area").append(option);
    	    });
    	};
    	
    	function selectAll() {
    		console.log(" inside select ");
    	    // this refers to the clicked checkbox
    	    // find all checkboxes inside the checkbox' form
    	    var elements = document.getElementsById('select_all');
    	    console.log(elements);
    	    // iterate and change status
    	    for (var i = elements.length; i--; ) {
    	        if (elements[i].type == 'checkbox') {
    	            elements[i].checked = this.checked;
    	        }
    	    }
    	}
    	
    	
		 });
		function validateSize(input) {
  		  const fileSize = input.files[0].size;
  		  if(fileSize < 10240){
  			 alert('File size under 10 KB');
  		  }
  		  if (fileSize > 716800) {
  		    alert('File size exceeds 700 KB');
  		    // $(file).val(''); //for clearing with Jquery
  		  } else {
  		    // Proceed further
  		  }
  		}
		function fileValidation(){
		var fileInput = 
            document.getElementById('file');
          
        var filePath = fileInput.value;
      
        // Allowing file type
        var allowedExtensions = /(\.jpg)$/i;

          
        if (!allowedExtensions.exec(filePath)) {
            alert('File type is not in jpg format');
            fileInput.value = '';
            return false;
        } 
		}
	</script>
</body>
</html>